<!-- index.html -->
<!DOCTYPE html>
<html lang="hi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <main>
    <section class="hero">
      <div class="container">
        <h2>Life lesson</h2>
        <p>“You feel good, you feel bad, and these feelings are bubbling from your <br/>
             unconsciousness, from your own past. Nobody is responsible except you.<br/> 
             Nobody can make you angry, and nobody can make you happy.”</br>
            -OSHO</p>
      </div>
    </section>
  </main>
</body>
</html>