<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docmed</title>
    <!-- poppins font -->
    <link rel="stylesheet" href="fonts/poppins/stylesheet.css" type="text/css"/>
    <!-- remix icon -->
    <link rel="stylesheet" href="remix/remixicon.css" type="text/css"/>
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <!-- max width  -->
     <link rel="stylesheet" href="css/max.css" type="text/css">
  </head>
  <body>
    <header>
      <div class="topbar">
        <div class="container">
          <div class="d-flex justify-between align-items-center">
            <div class="social-icon">
              <a href="javascript:void(0)"><i class="ri-linkedin-fill"></i></a>
              <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></a>
              <a href="javascript:void(0)"> <i class="ri-google-fill"></i></a>
            </div>
            <div class="social-details">
              <a href="javascript:void(0)">
                <i class="ri-mail-fill blue"></i>info@docmed.com</a
              >
              <a href="javascript:void(0)">
                <i class="ri-phone-fill blue"></i>+91 154646</a>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="nav">
          <div class="container">
            <div class="d-flex align-items-center justify-between position-relative">
              <img src="images/logo.webp" alt="logo" title="logo" />
              <ul class="d-flex">
                <a href="javascrip:void(0)"><li>Home</li></a>
                <a href="javascrip:void(0)"><li>Departmet</li></a>
                <a href="javascrip:void(0)"><li>Blog</li></a>
                <a href="javascrip:void(0)"><li>Pages</li></a>
                <a href="javascrip:void(0)"><li>Doctors</li></a>
                <a href="javascrip:void(0)"><li>Contact</li></a>
              </ul>
              <a href="javascript:void(0)" class="btn">Make an Appointment</a>
              <div class="toggle">
                <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- SECTION -->
    <main>
      <section class="banner">
          <div class="container">
              <div class="banner-text d-flex justify-center">
                  <h1>Health care</h1>
                  <span>For Hole Family</span>
                  <p>
                    In healthcare sector, service excellence is the facility of
                    <br />
                    the hospital as healthcare service provider to consistently.
                  </p>
                  <div>
                    <a href="javascript:void(0)" class="btn2">Check our services</a>
                  </div>
              </div>
          </div>
      </section>
      <!-- Services -->
      <section class="services">
          <div class="container">
            <div class="services-content">
              <div class="row">
                <div class="w-3 w-md-2 w-sm-1">
                  <div class="icon">
                    <i class="ri-hospital-line"></i>
                  </div>
                  
                  <div class="icon-content">
                  <h2>Hospitality</h2>
                  <p>
                    Clinical excellence must be the priority for any health care
                    service provider.
                  </p>
                </div>
                  <a href="javscript:void(0)">Apply For A Bed</a>
                </div>
                <div class="w-3 w-md-2 w-sm-1">
                  <div class="icon"><i class="ri-phone-line"></i></div>
                  
                 <div class="icon-content"><h2>Emergency Care</h2>
                  <p>
                    Clinical excellence must be the priority for any health care
                    service provider.
                  </p>
                </div> 
                  <a href="javscript:void(0)">+10 454 455 4645</a>
                </div>
                <div class="w-3 w-md-2 w-sm-1">
                 <div class="icon"> <i class="ri-pulse-line"></i></div>
                  <div class="icon-content">
                    <h2>Chamber Service</h2>
                  <p>Clinical excellence must be the priority for any health careservice provider.</p>
                </div>
                  <a href="javscript:void(0)">Make An Appointment</a>
                </div>
              </div>
            </div>
          </div>
      </section>
      
      <!-- DOCMED WELCOME -->
       <Section class="about py">
        <div class="container">
          <div class="row">
            <div class="w-2 w-md-1">
              <div class="image1 position-relative">
                <img src="images/image1.webp" alt="">
              </div>
            </div>
            <div class="w-2 w-md-1">
              <div class="img-details">
                <div class="img-content">
                  <div class="line position-relative"><h2>Welcome to Docmed</h2></div>
                <h3>Best Care For Your Good Health</h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.
                  It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression.</p>
                </div>
                <ul class="list">
                  <li><i class="ri-checkbox-circle-line"></i>Apartments frequently or motionless.</li>
                  <li><i class="ri-checkbox-circle-line"></i>Duis aute irure dolor in reprehenderit in voluptate.</li>
                  <li><i class="ri-checkbox-circle-line"></i>Voluptatem quia voluptas sit aspernatur.</li>
                </ul>
                <a href="javascript:void(0)" class="btn4">Learn More</a>
              </div>
            </div>
          </div>
        </div>
       </Section>
       <!-- Departments -->
       <section class="department py">
        <div class="container">
          <div class="row">
            <div class="w-1">
              <div class="department-text text-center position-relative">
                <h3>Our Departments</h3>
                <p>Esteem spirit temper too say adieus who direct esteem. <br>
                  It esteems luckily or picture placing drawing.</p>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/2.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Eye Care</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/1.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Physical Therapy</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/3.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Dental Care</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/4.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Diagnostic Test</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/5.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Skin Surgery</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
            <div class="w-3 w-md-2 w-sm-1">
              <div class="depatrment-content">
                <div class="department-image">
                  <img src="images/6.webp" alt="Eye operation" title="Eye operation">
                </div>
                <div class="department-context">
                  <h3>
                  <a href="javascript:void(0)" class="btn6">Surgery Service</a>
                  </h3>
                  <p>Esteem spirit temper too say adieus who direct esteem.</p>
                  <a href="javascript:void(0)" class="btn5">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </section>
       <!-- Reviews -->
       <section class="testimonial d-flex align-items-center justify-center">
        <div class="container">
            <div class="testimonial-content">
                <i class="ri-double-quotes-r"></i>
                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin.
                    Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. Fusce ac mattis nulla.
                    Morbi eget ornare dui.</p>
                <h4>Asana korim</h4>
            </div>
        </div>
    </section>
       <!-- Family Care -->
        <section class="care">
          <div class="container">
            <div class="row">
              <div class="care-content d-flex">
                <div class="w-2 w-sm-1">
                  <div class="care-icon">
                    <i class="ri-first-aid-kit-fill"></i>
                  </div>
                  <div class="care-msg">
                    <h3>Leading edge care for Your family</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem. 
                      It esteems luckily picture placing drawing. Apartments frequently or
                     motionless on reasonable projecting expression.</p>
                  </div>
                </div>
                <div class="w-2 w-sm-1">
                  <div class="care-business">
                    <img src="images/business.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Expert Doctors -->
         <section class="doctor">
          <div class="container">
            <div class="row">
              <div class="w-1">
                <div class="doctor-title">
                  <h3>Expert Doctors</h3>
                </div>
              </div>
                <div class="w-4 w-md-3 w-sm-2 w-xs-1">
                  <div class="doctor-content">
                    <div class="doctor-image">
                      <img src="images/doctor1.webp" alt="Doctor1">
                    </div>
                    <div class="doctor-context text-center">
                      <h3>
                      Mirazul Alom
                      </h3>
                      <p>Neurologist</p>
                    </div>
                  </div>
                </div>
                <div class="w-4 w-md-3 w-sm-2 w-xs-1">
                  <div class="doctor-content">
                    <div class="doctor-image">
                      <img src="images/doctor2.webp" alt="Doctor1">
                    </div>
                    <div class="doctor-context text-center">
                      <h3>
                      Mirazul Alom
                      </h3>
                      <p>Neurologist</p>
                    </div>
                  </div>
                </div>
                <div class="w-4 w-md-3 w-sm-2 w-xs-1">
                  <div class="doctor-content">
                    <div class="doctor-image">
                      <img src="images/doctor3.webp" alt="Doctor1">
                    </div>
                    <div class="doctor-context text-center">
                      <h3>
                      Mirazul Alom
                      </h3>
                      <p>Neurologist</p>
                    </div>
                  </div>
                </div>
                <div class="w-4 w-md-3 w-sm-2 w-xs-1">
                  <div class="doctor-content">
                    <div class="doctor-image">
                      <img src="images/doctor4.webp" alt="Doctor1">
                    </div>
                    <div class="doctor-context text-center">
                      <h3>
                      Mirazul Alom
                      </h3>
                      <p>Neurologist</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
         </section>
         <!-- Emergency contact -->
      <section class="emergency">
        <div class="row">
            <div class="w-2 w-lg-1">
              <div class="emergency-content justify-center align-items-center d-flex position-relative">
                  <div class="emergency-item"><h3>For Any Emergency Contact</h3>
                  <p>Esteem spirit temper too say adieus.</p></div>
                <div class="button">
                  <a href="javascript:void(0)">+10 378 4673 467</a>
                </div>
              </div>
        </div>
            <div class="w-2 w-lg-1">
              <div class="emergency-content1 justify-center align-items-center d-flex position-relative">
                  <div class="emergency-item"><h3>Make an Online Appointment</h3>
                  <p>Esteem spirit temper too say adieus.</p></div>
                <div class="button">
                  <a href="javascript:void(0)">Make An Online Appointment</a>
                </div>
              </div>
        </div>
        </div>
      </section>
    </main>
    <!-- Footer -->
     <footer class="footer">
        <div class="container">
          <div class="row padding-footer">
            <div class="w-4 w-md-3 w-sm-2 w-xs-1">
              <div class="footer-content">
                <div class="footer-logo">
                  <a href="javascript:void(0)">
                  <img src="images/footer-logo.webp" alt="">
                </a>
                </div>
                <p>Firmament morning sixth subdue darkness creeping gathered divide.</p>
                <div class="footer-icon">
                  <ul class="d-flex">
                    <li>
                      <a href="javascript:void(0)"><i class="ri-facebook-fill"></i></i></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"><i class="ri-twitter-fill"></i></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"><i class="ri-instagram-fill"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="w-4 w-md-3 w-sm-2 w-xs-1">
              <div class="footer-department">
                <div class="footer-subtitle">
                  <h3>
                    Departments
                  </h3>
                </div>
                <ul>
                  <li><a href="javascript:void(0)">Eye Care</a></li>
                  <li><a href="javascript:void(0)">Skin Care</a></li>
                  <li><a href="javascript:void(0)">Pathology</a></li>
                  <li><a href="javascript:void(0)">Medicine</a></li>
                  <li><a href="javascript:void(0)">Dental</a></li>
                </ul>
              </div>
            </div>
            <div class="w-4 w-md-3 w-sm-2 w-xs-1">
              <div class="footer-department">
                <div class="footer-subtitle">
                  <h3>
                    Useful Links
                  </h3>
                </div>
                <ul>
                  <li><a href="javascript:void(0)">About</a></li>
                  <li><a href="javascript:void(0)">Blog</a></li>
                  <li><a href="javascript:void(0)">About</a></li>
                  <li><a href="javascript:void(0)">Contact</a></li>
                  <li><a href="javascript:void(0)">Appointment</a></li>
                </ul>
              </div>
            </div>
            <div class="w-4 w-md-3 w-sm-2 w-xs-1">
              <div class="footer-address">
                <div class="address-title">
                  <h3>Address</h3>
                </div>
                <p>
                  200, D-block, Green lane USA +10 367 467 8934 docmed@contact.com
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="copy">
          <div class="container">
            <div class="row">
              <div class="w-1">
                <div class="copy-right text-center">
                  <h3>Copyright ©2024 All rights reserved | This template is made with <i class="ri-heart-line"></i>  by <a href="javascript:void(0)"> Colorlib</a></h3>
                </div>
              </div>
          </div>
       </div>
    </div>
      <!-- Last Footer -->
     </footer>
  </body>
</html>