*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
/* header  */
header ul li a::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3px;
    top: 100%;
    right: 50%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

header ul li a:hover::before {
    right: 0%;
    opacity: 1;
}
/* banner */
.banner{
    height: 700px;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner .banner-content .icon i{
    font-size: 30px;
    margin-right: 15px;
    color: #45505B;
    transition: all 0.2s linear;
}
.banner .banner-content .icon i:hover{
    color: #0563bb;
}
.offcanvas{
    background-color: #45505B;
}
.offcanvas.offcanvas-start {
    width: 30%;
}
 /* Contact */
 .contact .input-group span{
    font-size: 12px;
    width: 40%;
 }
 .contact form .btn:hover{
    background-color: #0563bb;
    color: #e5e6e9;
 }
 .contact .blog-content i{
    font-size: 30px;
    color: #8f9195;
 }
 .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 15px;
    background: transparent;
}
/* skills */
.skills .skill-content .skill-img img{
    height: 150px;
    width: 150px;
}
.skills .skill-content{
    transition: all 0.2s ease-in-out;
}
.skills .skill-content:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.skills .skill-content i{
    font-size: 100px;
}
/* Portfolio */
.portfolio  ul li a{
    color: #343A40;
    background-color: #F5F5F5;
    transition: all 0.3s linear;
}
.portfolio  ul li a:hover{
    color: white;
    background-color: #027BFF;
}
.portfolio .tab-content .portfolio-img .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
    opacity: 0;
    
}
.portfolio .tab-content .portfolio-img:hover .overlay{
    opacity: 1;
    
}
.portfolio .portfolio-img .overlay a{
    transform: scale(0.3);
    transition: all 0.3s linear;
}
.portfolio .portfolio-img .overlay:hover a{
    transform: scale(1);
}
.portfolio .portfolio-img .overlay a:hover {
    background-color: #027BFF !important;
    color: #0563bb !important;
}
.portfolio .tab-content .portfolio-img .overlay a{
    width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  /* border: 5px solid black; */
}