<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>Add Movie</h1>

    <form method="post" action="/addProduct">
        <label for="">Movie Name</label>
        <input type="text" name="name">
        <label for="">Release date</label>
        <input type="date" name="release">
        <label for="">Budged</label>
        <input type="number" name="budget">
        <label for="">Language</label>
        <input type="text" name="language">
        <button type="submit">Add Product</button>
    </form>
</body>

</html>