/* XL */
@media (max-width:1399px){
    .container{
        max-width: 1140px;
    }
    .w-xl-4{
        width: 25%;
    }
    
}
/* Lg */
@media (max-width:1199px){
    .container{
        max-width: 960px;
    }
    .w-lg-1{
        width: 100%;
    }
    .w-lg-3{
        width: 33.33%;
    }
    .doctor .doctor-content .doctor-image {
        width: 100%;
        height: 189px;
    }
}
/* MD */
@media (max-width:991px){
    .container{
        max-width: 720px;
    }
    .w-md-1{
        width: 100%;
    }
    .w-md-2{
        width: 50%;
    }
    .w-md-3{
        width: 33.33%;
    }
    .nav ul{
        flex-direction: column;
        top: 100%;
        left: 0;
        background-color: rgba(135, 207, 235, 0.49);
        width: 100%;
        position: absolute;
        display: none;
    }
    .nav .toggle{
        display: flex;
        margin-right: 20px;
        color: black;
    }
    .services .w-3:nth-child(2) {
        background-color: transparent;
    }
    .about .img-details {
        margin-top: 93px;
    }
    .address-title h3{
        margin-bottom: 20px;
    }
}
/* SM */
@media (max-width:767px){
    .container{
        max-width: 540px;
    }
    .w-sm-1{
        width: 100%;
    }
    .w-sm-2{
        width: 50%;
    }
    .banner .banner-text span {
        font-size: 52px;
    }
    .banner .banner-text h1{
        font-size: 53px;
    }
    .banner .banner-text p{
        font-size: 14px;
    }
    .testimonial .testimonial-content p{
        font-size: 14px;
        margin: 11px 0 26px;
    }
    .testimonial .testimonial-content h4{
        font-weight: 400;
    }
    .care .care-content{
        display: block;
    }
    .care .care-content .care-business{
        margin-top: 20px;
    }
    .department .depatrment-content .department-image img{
        width: 100%;
    }
    .image1::after{
        display: none;
    }
    .about .w-2 .img-content, .list, .btn4 {
        margin-left: 0px;
    }
}
/* XS */
@media (max-width:575px){
    .w-xs-1{
        width: 100%;
    }
    .banner .banner-text h1 {
        font-size: 34px;
    }
    .banner .banner-text span {
        font-size: 33px;
    }
    .banner .banner-text p{
        font-size: 10px;
    }
    .banner .banner-text .btn2{
        padding: 5px;
    }
    .image1::after {
        display: none;
    }
    .doctor .doctor-content .doctor-image img{
        width: 100%;
        height: 300px;
    }
}